{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}

{% block "contenido" %}
	<div class="well">
		<div class="panel panel-primary">
			<div class="panel-heading" style="background-color:#428bca; color:white">
                <h6 class="titulo panel-title"><strong>Eliminar contrato</strong></h6>
            </div>
			<div class="panel-body">                
				<form action="" method="get">
                    <div class="column" id="busqueda">
                            {%csrf_token%}
                            {% crispy buscar%} 
                            <button class="search-button btn btn-default button-search" role="button" ><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>
                {%if cliente%}
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apeliido</th>
                                <th>E-mail</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="" method="post">
                                {% csrf_token %}
                                <tr>
                                    <td>{{cliente.persona.nombre}}</td>
                                    <td>{{cliente.persona.apellido}}</td>
                                    <td>{{cliente.persona.email}}</td>
                                    <td>{{cliente.persona.domicilio}}</td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                    <br>
                    <div class="panel-heading">
                        <h6 class="titulo panel-title"> <strong> Contratos </strong></h6>
                    </div>
                    <div>
                        {% csrf_token %}
                        {% autopaginate presupuestos 5%}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>N° presupuesto</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha fin</th>
                                    <th>Direccion</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for presupuesto in presupuestos%}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <tr>
                                        <td>{{presupuesto.id}}</td>
                                        <td>{{presupuesto.contrato.inicio}}</td>
                                        <td>{{presupuesto.contrato.fin}}</td>
                                        <td>{{presupuesto.domicilio_servicio}}</td>
                                        <td>
                                        	<input type="submit" id="submit-id-submit" class="btn btn-primary" value="Ver detalle" name="submit">
                                            <input type="hidden" value="{{presupuesto.id}}" name="id_presupuesto">
                                        </td>
                                    </tr>
                                </form>
                                {%endfor%}
                            </tbody>
                        </table>
                        {% paginate %}
                    </div>
                </div>
                {%endif%}
				
			</div>
		</div>

        <!-- Modal -->
        <div class="modal fade" id="empleados-tipo-servicio-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Informacion frecuencias</h4>
                    </div>
                    <div class="modal-body">
                        <div id="div-empleados-tipo-servicio"></div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->




		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Eliminar Contrato</h4>
					</div>
					<div class="modal-body">
						<p>¿Realmente desea eliminar el contrato <span id="modal_name"></span>?</p>
					</div>
					<div class="modal-footer">
						<form method="POST" id="frmEliminar">
							{% csrf_token %}
							<input type="hidden" id="modal_idPresupuesto" name="presupuesto_id">
							<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cerrar</button>
							<button type="submit" class="btn btn-danger">Eliminar</button>
						</form>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div>    
{% endblock %}