{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block "title"%} Zenda | Presupuesto {% endblock %}


{% block "contenido" %}
    <div class="well"  id="formPresupuesto">
        {% block "contenido_well"%}
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#428bca; color:white">
                <h6 class="panel-title"><strong>ALTA PRESUPUESTO</strong></h6>
            </div> 
        </div>
        <div class="panel-body" style="background-color:white">    
            <button type="button" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span><a href="{% url "cliente_alta" %}"> Crear Cliente </a></button>
            {% crispy buscar %}

            {%block "activo"%}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#searchCliente" data-toggle="tab">Buscar Cliente</a></li>
                <li><a href="#addTS" data-toggle="tab">Agregar Tipos de servicio</a></li>
            </ul>
            {%endblock%}

            <div class="tab-content">
                <div class="tab-pane fade in active" id="searchCliente"> 
                    {% if cliente %}   
                        <p><label>Nombre:   {{cliente.persona.nombre}}</label></p> 
                        <p><label>Apellido: {{cliente.persona.apellido}}</label></p>
                        <p><label>Nro Documento: {{cliente.persona.nro_documento}}</label></p>
                        {% crispy formulario %}
                    {% endif %}
                </div>
                <div class="tab-pane" id="addTS">{%block "datosTS"%}{%endblock%}</div>
            </div>
        </div>
        {%endblock%}
    </div>
{% endblock %}  

{% block "scripts"%}
    {{block.super}}
    <script type="text/javascript">
    $(function() {
        window.template = '{{ servicios|escapejs }}'.replace(/(id_form-)\d+(-\w+)/g, "$1{% verbatim %}{{id}}{% endverbatim %}$2");
        $(':input[name=persona_0]').bind('djselectableselect', function(event, ui) {
            $(this).parents("form").submit();
        });
    });
    </script>
    
{%endblock %}