{% extends "presupuestos/alta.html"%}
{% load crispy_forms_tags %}

{%block "datosTS"%}
{%block "activo"%}<!-- ESTA BIEN QUE ABRA ESTE BLOQUE -->
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <h6 class="panel-title"> <strong> SERVICIOS </strong></h6>
        </div>
        <div class="panel-body">
            <div class="container">

               
                <ul class="nav nav-tabs">
                    <li><a href="#searchCliente" data-toggle="tab">Buscar Cliente</a></li>
                    <li class="active"><a href="#addTS" data-toggle="tab">Agregar Tipos de servicio</a></li>
                </ul>
                

                <button type="button"class="btn btn-success pull-right" onClick="addRow('grid1','tipo_de_servicio.nombre','tipo_de_servicio.valorM2');" ><span class="glyphicon glyphicon-plus"><a href='#' id='add_row'></a></span> Agregar a listado </button>
                {% crispy buscar %}
                <p>Datos del Servicio:</p>
                {% if tipo_de_servicio != '' %}
                    <p><strong>Nombre:</strong> {{tipo_de_servicio.nombre}}</p> 
                    <p><strong>Valor M<sup>2</sup>:</strong> {{tipo_de_servicio.valorM2}}</p>
                    <form method="post" action="">
                    <table class="table" style="text-align:center">
                    <thead>
                        <tr>
                            <th>Nombre Servicio</th>
                            <th>Precio por M<sup>2</sup></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                            {{ contratados.management_form }}
                            {% for contratado in contratados %}
                                <tr>
                                {% for field in contratado %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                                <td>
                                    <a class="frecuencias" contratado="{{contratado.instance.pk}}">Frecuencias</a> |
                                    <a href="{% url "quitar_servicio_contratado" presupuesto.pk contratado.instance.pk %}">Quitar</a></td>
                                </tr>
                            {% endfor %}
                    </tbody>
                </table>
                </form>
                {% else %}
                    <p> No disponible </p>
                {% endif %}
            </div>
            <input type="submit" name="botonSubmit">
        </div>
    </div>
    <div class="modal fade" id="frecuencia-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><strong>Agregar Frecuencia</strong></h4>
                </div>
                <div class="modal-body">
                    <div id="containerFrecAttr">
                        {% crispy servicios %}
                        <button id="agregar-frecuencia" type="button" class="btn btn-success pull-right" ><span class="glyphicon glyphicon-plus"><a href='#' id='add_row'></a></span> Agregar a listado </button>
                    </div>  
                    <div id="contratado-frecuencias">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{%endblock%}
{%endblock%}

{%block "scripts"%}
    {{block.super}}
    <script type="text/javascript">
        $(function(){
            $(".frecuencias").click(function(event) {
                event.preventDefault();
                var contratado = $(event.target).attr("contratado");
                $("#contratado-frecuencias").load("/contratado/" + contratado);
                $("#agregar-frecuencia").unbind("click");
                $("#agregar-frecuencia").click(function(event){
                    $.ajax({
                        url:"/contratado/" + contratado + "/agregar_frecuencia",
                        data: {
                            "csrfmiddlewaretoken": '{{ csrf_token }}',
                            "servicio_contratado": contratado,
                            "dia": $("#id_form-0-dia").val(),
                            "hora_inicio": $("#id_form-0-hora_inicio").val(), 
                            "hora_fin": $("#id_form-0-hora_fin").val()},
                        method:"POST",
                        success:function(){
                            $("#contratado-frecuencias").load("/contratado/" + contratado);
                        }
                    })
                });
                $("#frecuencia-modal").modal();

            });
        });
    </script>
{% endblock %}