<!DOCTYPE html>
<html lang="es">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block "title" %}{% endblock %}</title>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->


    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" type="text/css">
	<link href="{{STATIC_URL}}css/bootstrap/bootstrap.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!--link href="{{STATIC_URL}}css/bootstrap/bootstrap-glyphicons.css" rel="stylesheet"-->
	<link href="{{STATIC_URL}}css/styles/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">


  </head>
<!-- NAVBAR
================================================== -->
  <body>
	<div class="navbar-wrapper">
		<div class="navbar navbar-inverse navbar-static-top nav-color navbar-fixed-top">
			<div class="container">
				<div class="navbar-header navbar-brandColor">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="index.html">Zenda</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">	
						<li id= "AcercaDe" onClick="CargarPagina(this.id);"><a href="#about">Acerca De</a></li>
						<li id= "Contacto" onClick="CargarPagina(this.id);"><a href="#contact">Contacto</a></li>
					</ul>
					<div class="pull-right">
						<div class="dropdown" id="dropdownBtn">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#dropdownBtn">
								Sesión  <b class="caret"></b>
							</a>
							<ul class="dropdown-menu" id="menuDropDown">
								<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Configuración</a></li>
								<li class="divider"></li>
								<li><a href="#"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--Fin Navbar Superior-->
	
	<div id="bordeIzquierdo" class="pull-left">
		<div class="panel-group" id="myaccordion">
		  	<div class="panel panel-default">
			    <div class="panel-heading">
			      	<h4 class="panel-title">
			        	<a data-toggle="collapse" data-parent="#myaccordion" href="#collapseOne">
			          		Gestión de clientes
			        	</a>
			      	</h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse">
			      	<div class="panel-body">
						<ul>
							<li id= "AltaCliente" onClick="CargarPagina(this.id);"><a href="{% url "cliente_alta" %}">Alta un nuevo cliente</a></li>
							<li id= "ModificarCliente" onClick="CargarPagina(this.id);"><a href="{% url "cliente_modificar" %}">Modificar un cliente</a></li>
							<li id= "BajaCliente" onClick="CargarPagina(this.id);">Eliminar un cliente</li>
						</ul>
			      	</div>
			    </div>
			</div><!--1er Panel-->
			<div class="panel panel-default">
			    <div class="panel-heading">
				    <h4 class="panel-title">
				    	<a data-toggle="collapse" data-parent="#myaccordion" href="#collapseTwo">
				    		Gestión de personal
				    	</a>
				    </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse">
			      	<div class="panel-body">
			        	<ul>
							<li id= "AltaEmpleado" onClick="CargarPagina(this.id);"><a href="{% url "empleado_alta" %}">Alta un nuevo empleado</a></li>
							<li id= "ModificarEmpleado" onClick="CargarPagina(this.id);"><a href="{% url "empleado_modificar" %}">Modificar un empleado</a></li>
							<li id= "AsignarEmpleado" onClick="CargarPagina(this.id);"><a href="{% url "turno_alta" %}">Asignar empleado a trabajo</a></li>
							<li id= "BajaEmpleado" onClick="CargarPagina(this.id);">Eliminar un empleado</li>
						</ul>
			      	</div>
			    </div>
			</div><!--2do Panel-->
			<div class="panel panel-default">
				<div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#myaccordion" href="#collapseThree">
				          Gestión de servicios
				        </a>
				      </h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
				    <div class="panel-body">
				        <ul>
							<li id= "AltaTipoServicio" onClick="CargarPagina(this.id);"><a href="{% url "tipo_servicio_alta" %}">Alta tipo de servicio</a></li>
							<li id= "ModificarTipoServicio" onClick="CargarPagina(this.id);"><a href="{% url "tipo_servicio_modificar" %}">Modificar tipo de servicio</a></li>
							<li id= "BajaTipoServicio" onClick="CargarPagina(this.id);"><a href="{% url "tipo_servicio_baja" %}">Eliminar tipo de servicio</li>
						</ul>
				    </div>
				</div>
			</div><!--3er Panel-->
			<div class="panel panel-default">
				<div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#myaccordion" href="#collapseFour">
				          Gestión de presupuestos
				        </a>
				      </h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
				    <div class="panel-body">
				        <ul>
							<li id= "generarPresupuesto" onClick="CargarPagina(this.id);"><a href="{% url "presupuesto_alta" %}">Nuevo presupuesto</li>
							<li id= "valorizarPresupuesto" onClick="CargarPagina(this.id);"><a href="{% url "presupuesto_valorizar" %}">Valorizar presupuesto</li>
							<li id= "ConfirmarPresupuesto" onClick="CargarPagina(this.id);">Confirmar un presupuesto</li>
						</ul>
				    </div>
				</div>
			</div><!--4to Panel-->
			<div class="panel panel-default">
				<div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#myaccordion" href="#collapseFive">
				          Gestión de contratos
				        </a>
				      </h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse">
				    <div class="panel-body">
				        <ul>
							<li id= "AltaTipoServicio" onClick="CargarPagina(this.id);">Renegociación de contrato</li>
							<li id= "ModificarTipoServicio" onClick="CargarPagina(this.id);">Eliminar contrato</li>	
						</ul>
				    </div>
				</div>
			</div><!--5to Panel-->
			<div class="panel panel-default">
			    <div class="panel-heading">
			      	<h4 class="panel-title">
			        	<a data-toggle="collapse" data-parent="#myaccordion" href="#collapseSix">
			          		Listado Presupuestos
			        	</a>
			      	</h4>
			    </div>
			    <div id="collapseSix" class="panel-collapse collapse">
			      	<div class="panel-body">
						<ul>
							<li id= "ListadoPresupuestos" onClick="CargarPagina(this.id);"><a href="{% url "presupuesto_listados" %}">Listar todos</a></li>
						</ul>
			      	</div>
			    </div>
			</div><!--6to Panel-->
		</div><!--Fin Acordeon-->	
	</div><!--Fin Borde Izquierdo-->

	<div class="pull-right contenido " id="cont-form">
		{% block "contenido"%}{% endblock %}		
	</div><!--Fin Contenido-->

	<div id="footer">
		<p class="text-muted credit">Powered by ZendaTeam - Desarrollo de Software 2013 - UNPSJB - SEDE TRELEW</p>
	</div>

	<!-- Sección Js -->
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap/transition.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap/holder.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap/collapse.js"></script>
	<script type="text/javascript">
		$('.dropdown-toggle').dropdown();
	</script>
  	<!-- Fin Sección Js -->
	{% block "scripts" %}
		{# Scripts de usuario #}
	{% endblock "scripts" %}

</body>
</html>