
<!--div class="panel panel-default"-->
    <div class="ayuda-online-well well">
        <div class="menu-left-ayuda-online panel-heading pull-left">

            <input id="boton1" data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="btn btn-primary btn-lg btn-block" value="Gestion clientes" style="margin-left:0%">

            <input data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="btn btn-primary btn-lg btn-block" value="Gestion de personal" style="margin-left:0%">

            <input data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="btn btn-primary btn-lg btn-block" value="Gestion servicios" style="margin-left:0%">

            <input data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="btn btn-primary btn-lg btn-block" value="Gestion de Presupuestos" style="margin-left:0%">

            <input data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="btn btn-primary btn-lg btn-block" value="Gestion de Contratos" style="margin-left:0%">

            <input data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="btn btn-primary btn-lg btn-block" value="Listados" style="margin-left:0%">
        </div>
        <!--gestion de clientes-->
        <div id="collapse1" class="menu-right-ayuda-online panel-collapse collapse pull-right">
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                                <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo1" class="btn btn-primary btn-lg btn-block" value="Alta" style="margin-left:0%">       
                        </div>
                        <div id="collapseGrupo1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Para ingresar un nuevo cliente se debe conocer su DNI/LE e ingresar el mismo (Figura 1). Si el DNI/LE pertenece a un cliente o empleado de la empresa ya dado de alta, el sistema informará esta situación a través de un mensaje en el menú principal (Figura 2) </p>  
                                <IMG SRC="{{STATIC_URL}}img/ayuda/Figura5.png"  width='80%' height='80%'>
                                <h6>figura 1</h6>
                                <br></br>
                                <IMG SRC="{{STATIC_URL}}img/ayuda/Figura6.png"  width='80%' height='80%'>
                                <h6>figura 2</h6>
                                <br></br>
                                <p>Cuando se ingresa el DNI/LE y el mismo no pertenezca a ninguna persona dada de alta, el sistema incluirá automáticamente dicho identificación en elformulario de alta de cliente (Figura 3) donde se deben completar los restantes campos obligatorios y luego seleccionar el botón Confirmar para finalizar el proceso. </p>
                                <IMG SRC="{{STATIC_URL}}img/ayuda/Figura7.png"  width='80%' height='80%'>
                                  <h6>figura 3</h6>
                                  <br></br>
                                <p>Cuando el cliente fue dado de alta sin inconvenientes, el sistema informará dicha situación a través de un mensaje en el menú principal.</p>
                                </br>
                                <p>Si existen errores en la confección del formulario, el sistema informará cuales campos se encuentran mal integrados (Figura 5)</p>
                                <IMG SRC="{{STATIC_URL}}img/ayuda/Figura9.png"  width='80%' height='80%'>
                                  <h6>figura 5</h6>
                                  <br></br>
                            </div>
                        </div>    
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                                <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo2" class="btn btn-primary btn-lg btn-block" value="Modificación" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Para realizar la modificación de los datos de un cliente, se debe buscar al mismo por su nombre o apellido (Figura 6) y luego seleccionar el icono <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png">para desplegar los datos del cliente (Figura 7).</p>
                                <IMG SRC="{{STATIC_URL}}img/ayuda/Figura10.png"  width='80%' height='80%'>
                                  <h6>figura 6</h6>
                                  <br></br>
                                <IMG SRC="{{STATIC_URL}}img/ayuda/Figura11.png"  width='80%' height='80%'>
                                  <h6>figura 7</h6>
                                  <br></br>
                                <p>Luego de realizar las modificaciones requeridas, se debe seleccionar el boton Confirmar para guardar las modificaciones realizadas. El sistema informará que se realizó el proceso correctamente a través de un mensaje en el menú principal (Figura 8). </p>
                                  <br></br>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--gestion de personal-->
        <div id="collapse2" class="menu-right-ayuda-online panel-collapse collapse pull-right">
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo3" class="btn btn-primary btn-lg btn-block" value="Alta de empleado" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo3" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para ingresar un nuevo empleado se debe conocer su DNI/LE e ingresar el mismo (Figura 9). Si el DNI/LE pertenece a un cliente o empleado de la empresa ya dado de alta, el sistema informará esta situación a través de un mensaje en el menú principal.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura13.png"  width='80%' height='80%'>
                              <h6>figura 9</h6>
                              <br></br>
                              <p>Cuando se ingresa el DNI/LE y el mismo no pertenezca a ninguna persona dada de alta, el sistema incluirá automáticamente dicho identificación en el formulario de alta de empleado (Figura 11) donde se deben completar los restantes campos obligatorios y luego seleccionar el botón Confirmar para finalizar el proceso. </p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura15.png"  width='80%' height='80%'>
                              <h6>figura 11</h6>
                              <br></br>
                              <p>Cuando el empleado fue dado de alta sin inconvenientes, el sistema informará dicha situación através de un mensaje en el menú principal.</p>
                              <br>
                              <p>Si existen errores en la confección del formulario, el sistema informará cuales campos se encuentran mal integrados.</p>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo4" class="btn btn-primary btn-lg btn-block" value="Modificación de empleado" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo4" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para realizar la modificación de los datos de un cliente, se debe buscar al mismo por su nombre o apellido (Figura 14) y luego seleccionar el icono <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png"> para desplegar los datos del cliente (Figura 15). </p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura18.png"  width='80%' height='80%'>
                              <h6>figura 14</h6>
                              <br></br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura19.png"  width='80%' height='80%'>
                              <h6>figura 15</h6>
                              <br></br>
                              <p>Luego de realizar las modificaciones requeridas, se debe seleccionar el boton Confirmar para guardar las modificaciones realizadas. El sistema informará que se realizó el proceso correctamente a través de un mensaje en el menú principal.</p>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo5" class="btn btn-primary btn-lg btn-block" value="Asignar Empleado a Servicio" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo5" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para asignar un empleado a un servicio contratado por un cliente se debe realizar la siguiente secuencia:</p>
                              <p>A.Buscar el Cliente</p>
                                   <p>Ingresar el nombre del Cliente (Figura 17)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura21.png"  width='80%' height='80%'>
                              <h6>figura 17</h6>
                              <br></br>
                              <p>Luego de encontrarlo, seleccionar el botón <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png"> y el sistema despliega los Presupuestos Confirmados del cliente (Figura 18)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura22.png"  width='80%' height='80%'>
                              <h6>figura 18</h6>
                              <br></br>
                              <p>B. Seleccionar uno de los Presupuestos Confirmados del cliente al cual se desea asignar a un empleado, dando click en el botón Seleccionar se desplegara un detalle de los servicios contratados en ese presupuesto (Figura 19)</p>
                              <p>C. Seleccionar uno de los servicios contratados, allí se desplegará un detalle de las frecuencias de ese servicio en ese presupuesto (Figura 19)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura23.png"  width='80%' height='80%'>
                              <h6>figura 19</h6>
                              <br></br>
                              <p>D. Seleccionando una de las frecuencia y clickeando en el botón de la lupa, se despliega el detalle de los turnos de esa frecuencia (Figura 20)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura24.png"  width='80%' height='80%'>
                              <h6>figura 20</h6>
                              <br></br>
                              <p>E. Al seleccionar el Boton con la flecha se obtendrá un detalle de los empleados especializados en ese tipo de servicio que se encuentran disponibles (Figura 21)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura25.png"  width='80%' height='80%'>
                              <h6>figura 21</h6>
                              <br></br>
                              <p>F. Posicionando el mouse sobre el icono de la lupa se obtendrá un detalle de los turnos a los cuales se encuentra asignado el empleado (Figura 22)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura26.png"  width='80%' height='80%'>
                              <h6>figura 22</h6>
                              <br></br>
                              <p>G. Click en el botón crear y despliega un formulario para crear un turno para el empleado en la frecuencia (Figura 23)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura27.png"  width='80%' height='80%'>
                              <h6>figura 23</h6>
                              <br></br>
                              <p>H. Al seleccionar el botón Eliminar se desplegara un formulario con detalle del turno a eliminar, seleccionando el icono<IMG SRC="{{STATIC_URL}}img/ayuda/eliminar.png"> se finaliza el borrado (Figura 24).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura28.png"  width='80%' height='80%'>
                              <h6>figura 24</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo6" class="btn btn-primary btn-lg btn-block" value="Baja de empleado" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo6" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para poder dar de baja a un empleado en primer lugar se debe buscar el mismo (Figura 25)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura29.png"  width='80%' height='80%'>
                              <h6>figura 25</h6>
                              <br></br>
                              <p>Luego se debe asignar una fecha de baja y seleccion ar el botón Confirmar para finalizar la operación (Figura 26).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura30.png"  width='80%' height='80%'>
                              <h6>figura 26</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--gestion de servicios-->
        <div id="collapse3" class="menu-right-ayuda-online panel-collapse collapse pull-right">
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo7" class="btn btn-primary btn-lg btn-block" value="Alta de Tipo de Servico" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo7" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para el alta de un nuevo tipo de servicio se debe ingresar los campos código de servicio, nombre del nuevo tipo de servicio, el valor de m2 del nuevo servicio, seleccionar los productos que se utilizan para prestar el servicio y por último seleccionar el botón Confirmar (Figura 27).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura31.png"  width='80%' height='80%'>
                              <h6>figura 27</h6>
                              <br></br>
                              <p>Si existe algún error en la integración de los campos y/o se omitió integrar alguno de ellos, el sistema informa dicha situación, remarcando las inconsistencias (Figura 28).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura32.png"  width='80%' height='80%'>
                              <h6>figura 28</h6>
                              <br></br>
                              <p>msj de exito</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/figura100.png"  width='80%' height='80%'>
                              <h6>figura 16</h6>
                              <br></br>
                              <p>msj de error (Figura 17)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura17.png"  width='80%' height='80%'>
                              <h6>figura 17</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo8" class="btn btn-primary btn-lg btn-block" value="Modificación de Tipo de Servicio" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo8" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para realizar la modificación de un tipo de servicio, se debe buscar el mismo por su nombre (Figura 29)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura33.png"  width='80%' height='80%'>
                              <h6>figura 29</h6>
                              <br></br>
                              <p>Luego se desplegarán los datos del tipo de servicio seleccionado, los cuales podrán ser modificados, finalizando el proceso mediante la selección del botón Confirmar (Figura 30)</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura34.png"  width='80%' height='80%'>
                              <h6>figura 30</h6>
                              <br></br>
                              <p>Si no hubieron inconvenientes, el sistema informará el exito del proceso en el menú principal (Figura 20). </p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/exitomodifTS.png"  width='80%' height='80%'>
                              <h6>figura 20</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo9" class="btn btn-primary btn-lg btn-block" value="Baja de Tipo de Servicio" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo9" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para dar de baja un tipo de servicio se debe buscar el mismo por su nombre (Figura 31)</p> 
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura35.png"  width='80%' height='80%'>
                              <h6>figura 31</h6>
                              <br></br>
                              <p>LueSe desplegará un formulario (Figura 32) donde se deberá integrar la fecha de baja y un motivo de la misma, finalizando el proceso con la selección del botón Confirmar</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura36.png"  width='80%' height='80%'>
                              <h6>figura 32</h6>
                              <br></br>
                              <p>Si el sistema detecta que el tipo de servicio tienen turnos asociados, informará la imposibilidad de eliminar por dicha situación, caso contratario informará el exito del proceso.</p>
                            </div>
                        </div>
                    </td>
                </tr>

                
            </table>
        </div>
        <!--gestion de presupuestos-->
        <div id="collapse4" class="menu-right-ayuda-online panel-collapse collapse pull-right">
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo10" class="btn btn-primary btn-lg btn-block" value="Nuevo Presupuesto" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo10" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para el alta de un nuevo presupuesto se debe ingresar el nombre del Cliente (Figura 33) a quien se desea generar el instrumento y luego presionar el icono <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png">.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura37.png"  width='80%' height='80%'>
                              <h6>figura 33</h6>
                              <br></br>
                              <p>Se desplegarán un detalle de los datos del Cliente (Figura 34), debiéndose completar el campo Domicilio de Servicio y luego presionar el botón Crear</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura38.png"  width='80%' height='80%'>
                              <h6>figura 34</h6>
                              <br></br>
                              <p>A continuación el sistema mostrará un formulario (Figura 35) donde se debe filtrar en el campo Buscar por el Tipo de Servicio, seleccionando el icono  para incorporar el mismo al Presupuesto (Figura 36).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura39.png"  width='80%' height='80%'>
                              <h6>figura 35</h6>
                              <br>
                                <IMG SRC="{{STATIC_URL}}img/ayuda/Figura40.png"  width='80%' height='80%'>
                              <h6>Figura 36</h6>
                              </br></br>
                              <p>Paso seguido se debe/n asignar frecuencia/s al tipo de servicio incorporado, proceso que se realiza mediante la selección del icono <IMG SRC="{{STATIC_URL}}img/ayuda/iconofrecuencia.png"  width='5%' height='50%'> que permitirá visualizar un formulario de alta de frecuencias (Figura 37).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura41.png"  width='55%' height='80%'>
                              <h6>figura 37</h6>
                              <br></br>
                              <p>Completando los datos Día, Hora de Inicio, Hora Fin y seleccionando el botón Agregar a listado, se incorporará en la parte inferior del formulario un detalle de las frecuencias dadas de alta (Figura 38) permitiendo mediante la selección del botón <IMG SRC="{{STATIC_URL}}img/ayuda/eliminar.png"> eliminar una de ellas.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura42.png"  width='55%' height='80%'>
                              <h6>figura 38</h6>
                              <br></br>
                              <p>Para finalizar el proceso de alta de frecuencia a un tipo de servicio, se debe seleccionar el botón Aceptar.</p>
                              <br>
                              <p>Luego de haber asignado a cada tipo de servicio sus frecuencias, se debe seleccionar el botón Confirmar para finalizar el proceso.</p>
                              <br>
                              <p>En caso de existir errores en la integración del formulario de alta de tipo de servicios, el sistema lo informará mediante un mensaje (Figura 39).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura43.png"  width='80%' height='80%'>
                              <h6>figura 39</h6>
                              <br></br>
                              <p>Si el alta finalizó sin inconsistencias se informará lo mismo a través de un mensaje en la página principal (Figura 40).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura44.png"  width='80%' height='80%'>
                              <h6>figura 40</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo11" class="btn btn-primary btn-lg btn-block" value="Valorizar" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo11" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para proceder a valorizar el presupuesto se debe buscar al Cliente (Figura 41) y luego seleccionar el icono <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png"></p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura45.png"  width='80%' height='80%'>
                              <h6>figura 41</h6>
                              <br></br>
                              <p>El sistema desplegará un formulario (Figura 42) con los datos del cliente y de sus presupuestos que se encuentran en estado Solicitados.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura46.png"  width='80%' height='80%'>
                              <h6>figura 42</h6>
                              <br></br>
                              <p>Al seleccionar el botón Valorizar del presupuesto correspondiente, se desplegará un nuevo formulario (Figura 43) donde se deberá ingresar la cantidad de metros cuadrados por servicio que se debe prestar en cada uno de los incluidos en el presupuesto.</p>
                              <br>
                              <p>Seleccionado el icono <IMG SRC="{{STATIC_URL}}img/ayuda/iconopesos.png"  width='5%' height='50%'> para cada tipo de servicio, el sistema realizará el cálculo del valor total del presupuesto, pudiendo ingresar un nuevo valor, en función de las relaciones comerciales con el cliente, en el campo Nuevo Total (Opcional) (Figura 44).</p>
                              <br>
                              <p>Para culminar el proceso se debe seleccionar el botón Confirmar.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura47.png"  width='80%' height='80%'>
                              <h6>figura 43</h6>
                              <br></br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura48.png"  width='80%' height='80%'>
                              <h6>figura 44</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo12" class="btn btn-primary btn-lg btn-block" value="Confirmar" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo12" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para proceder a confirmar un presupuesto se debe buscar al Cliente (Figura 45) y luego seleccionar el icono <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png"></p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura49.png"  width='80%' height='80%'>
                              <h6>figura 45</h6>
                              <br></br>
                              <p>El sistema desplegará un formulario con los datos del cliente y de los presupuestos del mismo que se encuentran en estado Valorizados (Figura 46).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura50.png"  width='80%' height='80%'>
                              <h6>figura 46</h6>
                              <br></br>
                              <p>Al seleccionar el botón Crear Contrato del presupuesto deseado, el sistema mostrará un formulario (Figura 47) donde se deberá completar los campos Fecha de Inicio del contrato y la fecha fin de cada uno de los servicios que compongan el presupuesto. La fecha fin del contrato será tomada por el sistema del servicio que tenga la fecha de fin más alta (Figura 48).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura51.png"  width='80%' height='80%'>
                                <h6>Figura 47</h6>
                                <br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura52.png"  width='80%' height='80%'>
                              <h6>figura 48</h6>
                              <p>Una vez completado todos los campos requeridos, se debe seleccionar el botón Confirmar para culminar la operación. <br> El sistema informará mediante un mensaje en el menú principal el éxito del alta del nuevo contrato como así también la creación de un usuario para el cliente con el e-mail informado en el alta del mismo como usuario y su clave 123456.</p>
                            </div>
                        </div>
                    </td>
                </tr>

                
            </table>
        </div>
        <!--gestion de presupuestos-->
        <div id="collapse5" class="menu-right-ayuda-online panel-collapse collapse pull-right">
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo13" class="btn btn-primary btn-lg btn-block" value="Renegociar" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo13" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para renegociar un contrato el primer paso consiste en buscar al cliente (Figura 49) por su nombre y/o apellido, ubicarlo y luego seleccionar el icono <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png">.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura53.png"  width='80%' height='80%'>
                              <h6>figura 49</h6>
                              <br></br>
                              <p>Se desplegará un formulario con los datos del cliente  conjuntamente con detalle de los contratos del mismo (figura 50).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura54.png"  width='80%' height='80%'>
                              <h6>figura 50</h6>
                              <br></br>
                              <p>Clickeando en el botón Seleccionar del contrato elegido se mostrará detalle de los servicios que conforman el mismo (Figura 51), allí se procederá nuevamente a agregar, quitar servicios y/o frecuencias conforme lo mencionado en el punto 3.4.1 – Alta de Presupuesto y luego proceder a valorizar y confirmar el presupuesto.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura55bis.png"  width='80%' height='80%'>
                              <h6>figura 51</h6>
                              
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo14" class="btn btn-primary btn-lg btn-block" value="Eliminar Contrato" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo14" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Para eliminar un contrato se debe buscar al cliente por su nombre y/o apellido (Figura 52).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura55.png"  width='80%' height='80%'>
                              <h6>figura 52</h6>
                              <br></br>
                              <p>Se desplegará un formulario con los datos del cliente y detalle de los contratos del cliente (Figura 53). Seleccionando en el botón Ver Detalle, se mostrará detalle de los servicios incluidos en el mismo (Figura 54).</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura56.png"  width='80%' height='80%'>
                              <h6>figura 53</h6>
                              <br>
                              <p>Seleccionando el botón ver de los tipos de servicios (Figura 54), se desplegará detalle de las frecuencias asociadas a los mismos.</p>
                              </br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura57.png"  width='80%' height='80%'><br>
                                <h6>figura 54</h6>
                              <p>Seleccionando el botón <IMG SRC="{{STATIC_URL}}img/ayuda/buscar.png">(Figura 55) se mostrarán los turnos asociados a cada frecuencia (Figura 56).</p>
                              <br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura58.png"  width='80%' height='80%'><br>
                                <h6>figura 55</h6><br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura59.png"  width='55%' height='80%'><br>
                                <h6>figura 56</h6>
                              <p>Para confirmar la eliminación se debe seleccionar el icono <IMG SRC="{{STATIC_URL}}img/ayuda/iconotacho.png"  width='4%' height='50%'> (Figura 54). El sistema solicitará validar la eliminación mediante un mensaje (Figura 57).</p>
                              <br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/Figura60.png"  width='55%' height='80%'>
                              <h6>figura 57</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="collapse6" class="menu-right-ayuda-online panel-collapse collapse pull-right">
            <table class="table table-hover">
                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo16" class="btn btn-primary btn-lg btn-block" value="Listado de Clientes" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo16" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Muestra para cada cliente de la empresa, la posibilidad de consultar sus datos particulares, para lo cual se debe seleccionar el botón Detalle (Figura 58) del empleado del cual al cual se quiere acceder.</p>
                              <p>Este listado puede ser exportado a formato pdf</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadoclientes.png"  width='80%' height='80%'>
                              <h6>figura 58</h6>
                              <br></br>
                              <p>El sistema posee un filtro (Figura 59) con el fin de poder obtener los clientes que cumplan el texto ingresado.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadoclientes1.png"  width='80%' height='80%'>
                              <h6>figura 59</h6>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo17" class="btn btn-primary btn-lg btn-block" value="Listado de Presupuesto" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo17" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>El sistema brinda la posibilidad de consultar los presupuestos en estado solicitado (Figura 61), valorizado (Figura 62) y confirmado (Figura 63)</p><br>
                              <p>El sistema posee un filtro (Figura 64) con el fin de poder obtener los clientes que cumplan el texto ingresado.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadopresupuestostodos.png"  width='80%' height='80%'>
                              <h6>figura 60</h6>
                              <br></br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadopresupuestossolicitados.png"  width='80%' height='80%'>
                              <h6>figura 61</h6>
                              <br><br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadopresupuestosvalorizados.png"  width='80%' height='80%'><br>
                                <h6>figura 62</h6>
                              <br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadopresupuestosconfirmados.png"  width='80%' height='80%'><br>
                                <h6>figura 63</h6><br>
                              <br></br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo18" class="btn btn-primary btn-lg btn-block" value="Listado de Empleado" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo18" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>Muestra datos personales y especialidad de los empleados ingresados en el sistema (Figura 64).</p><br>
                              <p>Este listado puede ser exportado a formato Excel.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadoempleados.png"  width='80%' height='80%'>
                              <h6>figura 64</h6>
                              <br></br>
                              <p>El sistema posee un filtro (Figura 65)con el fin de poder obtener los empleados que cumplan el texto ingresado.</p>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/listadoempleados1.png"  width='80%' height='80%'>
                                <h6>Figura 65</h6>
                                <br>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="panel-heading-ayuda-online panel-heading">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo19" class="btn btn-primary btn-lg btn-block" value="Parte Diario" style="margin-left:0%">
                        </div>
                        <div id="collapseGrupo19" class="panel-collapse collapse">
                            <div class="panel-body">
                              <p>El sistema brinda la posibilidad de obtener detalle de los turnos a prestar un día especifico con información de la dirección de los clientes y horarios (Figura 66, 67 y 68).</p><br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/partediario1.png"  width='80%' height='80%'>
                              <h6>figura 66</h6>
                              <br></br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/partediario2.png"  width='80%' height='80%'>
                              <h6>Figura 67</h6>
                              <br><br>
                              <IMG SRC="{{STATIC_URL}}img/ayuda/partediario3.png"  width='80%' height='80%'>
                              <h6>Figura 68</h6>
                            </div>
                        </div>
                    </td>
                </tr>

                
            </table>
        </div>

    </div>
<!--/div--><!--1er Panel-->
  

<!--
<div class="panel panel-primary pull-left" id="tablaSC">
  <div class="panel-heading">
      <h6 class="panel-title"> <strong> Gestiones </strong></h6>    
  </div>
  <div class="panel-body">
      <table class="table table-hover">
          <tr>
            <td>
                <input type="Submit" class="btn btn-primary btn-lg btn-block" value="Gestion clientes" style="margin-left:0%">
                <input type="Submit" class="btn btn-primary btn-lg btn-block" value="Gestion personal" style="margin-left:0%">
                <input type="Submit" class="btn btn-primary btn-lg btn-block" value="Gestion servicios" style="margin-left:0%">
                <input type="Submit" class="btn btn-primary btn-lg btn-block" value="Gestion presupuestos" style="margin-left:0%">
                <input type="Submit" class="btn btn-primary btn-lg btn-block" value="Gestion contratos" style="margin-left:0%">
            </td>
          </tr>
      </table>
  </div>
</div>


<div class="panel panel-primary pull-left">
  <div class="panel-heading">
      <h6 class="panel-title"> <strong> Ayuda </strong></h6>    
  </div>
  <div class="panel-body">
      <table class="table table-hover">
          <tr>
            <td>
                <div class="collapse-panel panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo1" class="btn btn-primary btn-lg btn-block" value="Gestion clientes" style="margin-left:0%">
                        </h4>
                    </div>
                    <div id="collapseGrupo1" class="panel-collapse collapse">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </td>
          </tr>
      </table>
  </div>
</div>

<div class="panel panel-primary pull-left">
  <div class="panel-heading">
      <h6 class="panel-title"> <strong> Ayuda </strong></h6>    
  </div>
  <div class="panel-body">
      <table class="table table-hover">
          <tr>
            <td>
                <div class="collapse-panel panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <input data-toggle="collapse" data-parent="#accordion" href="#collapseGrupo2" class="btn btn-primary btn-lg btn-block" value="Primer paso" style="margin-left:0%">
                        </h4>
                    </div>
                    <div id="collapseGrupo2" class="panel-collapse collapse">
                        <div class="panel-body">
                          Ingresar un número de documento valido.
                          <IMG SRC="{{STATIC_URL}}img/ayudaOnline/altaCliente1.jpg">
                          <br></br>
                          Si el cliente no existe en el sistema rellenar el formulario con sus datos.
                          Ej: <IMG SRC="{{STATIC_URL}}img/ayudaOnline/altaCliente2.jpg">
                          <br></br>
                          En caso de no ingresar datos en un campo obligatorio o ingresar un dato con formato invalido, se resaltara el campo.
                          Ej: <IMG SRC="{{STATIC_URL}}img/ayudaOnline/altaCliente3.jpg">
                          <br></br>
                          Una vez que el formulario este completo, confirmar pulsando
                          <IMG SRC="{{STATIC_URL}}img/ayudaOnline/altaCliente4.jpg">
                          
                        </div>
                    </div>
                </div>
            </td>
          </tr>
      </table>
  </div>
</div>
-->

