    <div class="well">
        <div class="panel panel-primary " id="panel-interno">
            <div class="panel-heading">
                <h6 class="titulo panel-title"><strong> Listado empleados </strong></h6>
            </div>

            <div class="panel-body">
                <div>
                    <form action="#" method="get">
                        <div class="input-group">
                            <input class="form-control" id="system-search" name="q" placeholder="Buscar" required>
                        </div>
                    </form>
                </div>
                {% csrf_token %}
                <table class="table table-hover tablesorter table-list-search" id="rowspan" cellspacing="0">
                    <thead>
                        <tr>
                            <th colspan="0">Nro legajo</th>
                            <th colspan="0">Nombre</th>
                            <th colspan="0">Apellido</th>
                            <th colspan="0">Especialidad</th>
                        </tr>
                    </thead>
                    <tbody>

                        {%for empleado in empleados%}
                            <form action="" method="post">
                                {% csrf_token %}
                                <tr>
                                    <td>{{empleado.nro_legajo}}</td>
                                    <td>{{empleado.persona.nombre}}</td>
                                    <td>{{empleado.persona.apellido}}</td>
                                    <td>{{empleado.especialidad}}</td>
                                </tr>
                            </form>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    


