{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block "titulo" %}Modificar tipo de servicio{% endblock %}
{% block "contenido" %}
	{% if notifications %}
        {% for message in notifications %}
            {%if message%}
                <div class="alert alert-danger">
                        <ul class="messages">
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        </ul>
                </div>
            {%endif%}
        {% endfor %}
    {% endif %}
	<div class="well">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h6 class="titulo panel-title"> <strong> Eliminar tipo de servicio </strong></h6>
			</div>
			<div class="panel-body">
				<form action="" method="get">
                    <div class="column" id="busqueda">
                            {%csrf_token%}
                            {% crispy buscar%} 
                            <button class="search-button btn btn-default button-search" role="button" ><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>
				{% crispy formulario %}
				{%if formulario != ''%}
					<h4>Campo obligatorio (*)</h4>
				{%endif%}
			</div>
		</div>
	</div>
{% endblock %}
{% block "scripts" %}
	{{ block.super }}
	<script type="text/javascript">
	    $(document).ready(function() {
	        $(':input[name=tipoDeServicio_0]').bind('djselectableselect', function(event, ui) {
	            $(this).parents("form").submit();
	        });
	    });
	</script>


    <script type="text/javascript" src="{{STATIC_URL}}/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}/js/bootstrap-datetimepicker.es.js"></script>

    <script type="text/javascript">
    $("#fecha").attr("readonly",true);
        $("#id_baja").attr("readonly",true);
        $("input[name^='id_baja']").attr("readonly",true);
        $(function () {
            $('#id_baja').datetimepicker({
                language: 'es',
                showToday: true,
                minDate: moment().subtract(1, "d"), 
                sideBySide: true,
                pickTime: false,
                daysOfWeekDisabled:[0],
            });
            
        });
    </script>

{% endblock "scripts" %}