
{% load crispy_forms_tags %}


{% block "contenido" %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .invoice-title h2, .invoice-title h3 {
        display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
            background-color: red;
        }

        .table > tbody > tr > {
            border-top: 2px solid;
        }
    </style>
   
   
</head>

    <div class="well">
        <div class="panel panel-primary " id="panel-interno">
            <div class="panel-heading">
                <h6 class="titulo panel-title"><strong> Turnos de empleado </strong></h6>
            </div>
            
            <div class="panel-body">
            	 
                
                <div class="tab-content">
              
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Domicilio</th>
                                <th>Servicio a realizar</th>
                                <th>Hora inicio</th>
                                <th>Hora fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for turno in turnos%}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <tr>
                                        <td>{{turno.frecuencia.servicio_contratado.presupuesto.domicilio_servicio}}</td>
                                        <td>{{turno.frecuencia.servicio_contratado.tipo_servicio}}</td>
                                        <td>{{turno.hora_inicio}}</td>
                                        <td>{{turno.hora_fin}}</td>
                                    </tr>
                                </form>
                            {%endfor%}
                        </tbody>
                    </table>   
                </div>
            </div>
        </div>
    </div>    
{%endblock%}

{%block "scripts"%}

    <script type="text/javascript" src="{{STATIC_URL}}/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}/js/bootstrap-datetimepicker.es.js"></script>

    <script type="text/javascript">
    $("#fecha").attr("readonly",true);
        $("#id_fin").attr("readonly",true);
        $("input[name^='id_inicio']").attr("readonly",true);
        $(function () {
            $('#id_inicio').datetimepicker({
                language: 'es',
                showToday: true,
                minDate: moment().subtract(1, "d"), 
                sideBySide: true,
                pickTime: false,
                daysOfWeekDisabled:[0],
            });
            
        });
    </script>

{%endblock%}


