
{% extends "base.html" %}
{% load i18n static %}
<!--{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}-->

<style type="text/css">
	.panel-body{background-color: red;
	 }

     .required {}

</style>

{% block "contenido" %}

<div id="content-main" style=background-color: red>

<div class="panel panel-primary">
<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}
<div class="well">
<div class="panel panel-primary">
<div class="panel-heading">
                <h6 class="titulo panel-title"> <strong> {% trans 'Password change' %} </strong></h6>
</div>

<fieldset>

    <div class="panel-body">
        {{ form.old_password.errors }}
        <label for="id_old_password" class="required">{% trans 'Old password' %}</label>
        <div class="form-render">{{ form.old_password }}</div>
    </div>

    <div class="panel-body" style="min-width: 310px; margin: 0 auto">
        {{ form.new_password1.errors }}
        
        <div class="form-render"><label for="id_new_password1" class="required">{% trans 'New password' %}</label> 
            {{ form.new_password1 }}
        </div>
    </div>

    <div class="panel-body" style="min-width: 310px; margin: 0 auto">
    {{ form.new_password1.errors }}
        <label for="id_new_password2" class="required" >{% trans 'Password (again)' %}</label>
        <div class="form-render">{{ form.new_password2 }}</div>
    </div><br>
    <div class="submit-row" style="min-width: 310px; margin: 0 auto">
        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary pull-right" />
    </div>

</fieldset>


</div>
</form>
</div>
</div>
</div>
</div>
{% endblock %}
{% block "scripts" %}
    {{block.super}}
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    <script>
        $(':password').attr('class','form-control');
        $(':password').attr('style','width:80%;float:right');
        $('label').attr('style','width:20%;float:left');
        $('.form-render').attr('style','display:inline')
    </script>
    

{% endblock "scripts" %}
