{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block "title"%} Zenda | Presupuesto {% endblock %}


{% block "contenido" %}
    {% block "contenido_well"%}
    <div class="well">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color:#428bca; color:white">
                <h6 class="titulo panel-title"><strong>Crear presupuesto</strong></h6>
            </div> 
            <div class="panel-body" style="background-color:white">    
                <form action="" method="get">
                    <div class="column" id="busqueda">
                        {%csrf_token%}
                        {% crispy buscar%} 
                        <button class="search-button btn btn-default button-search" role="button" ><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form> 
                <br>
                {% if cliente %}   
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>E-mail</th>
                                <th>Dirección</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="" method="post">
                                {% csrf_token %}
                                <tr>
                                    <td>{{cliente.persona.nombre}}</td>
                                    <td>{{cliente.persona.apellido}}</td>
                                    <td>{{cliente.persona.email}}</td>
                                    <td>{{cliente.persona.domicilio}}</td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                    {% crispy formulario %}
                    <button class="domicilio-button btn btn-default" role="button" domicilio="{{cliente.persona.domicilio}}"><span class="glyphicon glyphicon-log-in"></span></button>
                {% endif %}
            </div>
        </div>
        {%endblock%}
    </div>
{% endblock %}

{%block "scripts"%}

    <script type="text/javascript">
         $(".domicilio-button").click(function(event) {
            var domicilio = $(event.currentTarget).attr("domicilio");
            $("#id_domicilio_servicio").val(domicilio);
        });
    </script>

{%endblock%}