{% extends "base.html" %}

{%block "contenido"%}
	<div class="container">
	    <hr />
	    <div class="row">
	        <div class="col-sm-3 col-md-2 nav-mail-opcion">
	            <ul class="nav nav-pills nav-stacked">
	                <li><a href="{%url "casilla_mensaje"%}">
	                	{%if cantidad_mensajes > 0%}
	                		<span class="badge pull-right">{{cantidad_mensajes}}</span>
	                	{%endif%}
	                	 Principal </a>
	                </li>
	                <li><a href="{%url "mensajes_no_leidos"%}">
	                	{%if cantidad_no_leidos > 0%}
	                		<span class="badge pull-right">{{cantidad_no_leidos}}</span>
	                	{%endif%}
	                	No leidos</a>
	                </li>
	                <li><a href="{%url "mensajes_leidos"%}">
						{%if cantidad_leidos > 0%}
	                		<span class="badge pull-right">{{cantidad_leidos}}</span>
	                	{%endif%}
	                	Leidos</a>
	                </li>
	                <li class="active"><a href="{%url "enviar_mail"%}">Enviar mail</a></li>
	            </ul>
	        </div>
	        <div class="tab-content">
				<div class="col-sm-9 col-md-10">
		            <!-- Nav tabs -->
		            <ul class="nav nav-tabs">
		                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
		                </span>Mensaje</a></li>
		            </ul>
		            <!-- Tab panes -->
		            <div class="tab-content">
		                <div class="tab-pane fade in active" id="home">
							<div class="row">
						        <div class="col-md-8">
						            <div class="well well-sm">
						                <form method='POST'>
						                	{%csrf_token%}
							                <div class="row">
							                    <div class="col-md-6">
							                        <div class="form-group">
							                            <label for="name">Nombre:</label>
							                            {%if usuario == "admin"%}
							                            	<input type="text" class="form-control" id="name" placeholder="Enter name" required="required" value="Admin" disabled>
							                            {%else%}
															<input type="text" class="form-control" id="name" placeholder="Enter name" required="required" value="{{persona.nombre}} {{persona.apellido}}" disabled>
							                            {%endif%}
							                        </div>
							                        <div class="form-group">
							                            <label for="email">Email:</label>
							                            <div class="input-group">
							                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
							                                </span>
							                                {%if usuario == "admin"%}
							                                	<input type="email" class="form-control" id="email" placeholder="Enter email" required="required" value="admin@admin.com" disabled>
							                                {%else%}
																<input type="email" class="form-control" id="email" placeholder="Enter email" required="required" value="{{persona.email}}" disabled>
							                                {%endif%}
							                            </div>
							                        </div>
							                        <div class="form-group">
							                            <label for="name">Para:</label>
							                            <div class="input-group">
							                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
							                                </span>
							                                {%if usuario == "cliente"%}
							                                	<input type="email" class="form-control" id="email" placeholder="Enter email" required="required" value="admin@admin.com" disabled>
							                                {%elif destinatario_msj != '' %}{% comment %}esta seccion se autocompleta cuando se responde a un mail{% endcomment %}
							                                	<input type="email" name="destinatario" class="form-control" id="email" placeholder="Ingrese destinatario" value={{destinatario_msj.remitente}} required="required" disabled/>
							                                {% else %}
							                                	<input type="email" name="destinatario"class="form-control" id="email" placeholder="Ingrese destinatario" required="required" />
							                                {%endif%}
							                                {%if destinatario_msj != '' %}
							                                	<input type="hidden" value="{{destinatario_msj.remitente}}" name="destinatario"/>
							                                {%endif%}
							                            </div>
							                        </div>
							                    </div>
							                    <div class="col-md-6">
							                        <div class="form-group">
							                            <label for="name">Asunto</label>
							                        	{%if destinatario_msj != ''%}
							                            	<input name="asunto" id="asunto" class="form-control" rows="9" cols="25" required="required" value="RE: {{destinatario_msj.asunto}}" placeholder="Asunto"/>
							                            {%else%}
															<input name="asunto" id="asunto" class="form-control" rows="9" cols="25" required="required" placeholder="Asunto"/>
							                            {%endif%}
							                        </div>
							                    </div>
							                    <div class="col-md-6">
							                        <div class="form-group">
							                            <label for="name">Mensaje</label>
							                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Mensaje"></textarea>
							                        </div>
							                    </div>
							                    <div class="col-md-12">
							                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs" name"enviarMensaje">Enviar</button>
							                    </div>
							                </div>
						                </form>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>       
	    </div>
	</div>
{%endblock%}