.myimg {}

.nav-color{
	background-color: #FFFFFF;
	color: #000000;
	border-color: #EEEEEE;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #FFFFFF;
    color: green;

}

.navbar-inverse .navbar-nav > li > a {
    color: green;

}

.navbar-inverse .navbar-brand {
    color: green;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #FFFFFF;
    color: green;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: green;
  background-color: transparent;
}

.pull-right {
  float: right !important;
}

.dropdown{
  padding-bottom: 15px;
  padding-top: 15px;
}

div div a{
  color:green;
  text-decoration: none;  
}

div div a:hover, a:focus{
  color:green;
  text-decoration: none;  
}

.dropdown-menu > li > a:hover{
  color:white;
  background-color: green;
}

.panel-group{
  margin-left: 20px;
  font-size: 20px;
  height: 300px;
  width:300px;
}

.panel-group{
  margin-top: 0px;
}

/*estilos para form de claudio*/
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-left: 300px;
    margin-top: 60px;
    min-height: 20px;
    padding: 10px;
    width: 600px;
}

.panel {
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
}

.btn-primary{
  margin-left: 18px;
}




